body{
    margin:0px
}

.viewer{
    display: flex;
    height: 70vh;
    border: 1px solid #333;
}

/* イメージ部分に関するcss */
.image{
    width: 70%;
    background-color: rgb(230, 219, 200);
}

/* プレビュー部分に関するcss */
.preview{
    width: 30%;
    background-color: rgb(197, 197, 224);
}

/* パレット部分に関するcss*/
.pallets{
    height: 29vh;
    border: 1px solid #333333;
    overflow-x: scroll;
}

.pallet{
    display: inline-block;
    position: relative;
    height: 10vh;
    width: 10vh
}

.pallet_name{
    position: absolute;
    right: 0;
    bottom: 0;
}

/* その他のcss*/

.hsv{
    display: flex;
    pointer-events: none;
}
.elem{
    display: flex;
    width: 33%;
    background-color:beige;
}

.pic_color{
    height: 30%;
    width : 70%;
    margin: 0 auto;
    --mouse-overed-color: white;
    --clicked-color: gray;
    background: -webkit-linear-gradient(-45deg, var(--mouse-overed-color) 50%, var(--clicked-color) 50%);
}

