body{
    margin:0px
}

.viewer{
    display: flex;
    height: 70vh;
}

/* イメージ部分に関するcss */
.image{
    width: 70%;
    background-color: rgb(230, 219, 200);
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas{
    vertical-align: middle;
}

/* プレビュー部分に関するcss */
.preview{
    width: 30%;
    background-color: rgb(197, 197, 224);
}

/* パレット部分に関するcss*/
.pallets{
    height: 29vh;
    overflow-y: auto;
}

.pallet{
    display: inline-block;
    position: relative;
    height: 10vh;
    width: 10vh;
    white-space: normal;
}

.pallet_list{
    overflow-x: auto;
    white-space: nowrap;
}

.pallet_name{
    position: absolute;
    right: 0;
    bottom: 0;
}

/*ボタンのサイズに関するcss*/
.extra_large_btn{
    position: flex;
    width: 55%;
}

.large_btn{
    position: flex;
    width: 45%;
}

.medium_btn{
    position: flex;
    width: 40%;
}

.small_btn{
    position: flex;
    width: 30%;
}

/* その他のcss*/
.flex_div{
    display: flex;
}

.hsv_elem{
    display: flex;
    width: 33%;
    pointer-events: none;
    background-color:beige;
}

.pic_color{
    height: 21vw;
    width : 21vw;
    margin: 0 auto;
    --mouse-overed-color: white;
    --clicked-color: gray;
    background: -webkit-linear-gradient(-45deg, var(--mouse-overed-color) 50%, var(--clicked-color) 50%);
}

